#===============================================================================
# PandaCluster - SkyDNS
#===============================================================================
# This unit is part of the PandaCluster project. During cluster formation, this
# unit spins up one SkyDNS on each machine in the CoreOS cluster. SkyDNS is a
# private DNS service we use to find services in the CoreOS cluster.  It's great
# because it keeps track of all the app's moving parts with human-friendly names.
# This service is started right after Docker so all other services can register
# and find each other.

[Unit]
Description=Spin Up SkyDNS
After=docker.service

[Service]
TimeoutStartSec=0

# Pull PandaCluster's SkyDNS Docker Container.
ExecStartPre=-/usr/bin/docker kill skydns
ExecStartPre=-/usr/bin/docker rm skydns
ExecStartPre=/usr/bin/docker pull pandastrike/skydns

# Configure SkyDNS via its etcd interface.  It accepts a JSON string.  Calls to the
# external Internet are allowed to pass through to Google's DNS address.
ExecStartPre=/usr/bin/etcdctl set /skydns/config \
    '{"dns_addr":"0.0.0.0:53", "domain":"orca", "nameservers": ["8.8.8.8:53"]}'

# Deploy SkyDNS.  Use the "-machines" flag to point it at the etcd endpoint.
# For now, to avoid a discovered bug, we must wait a couple seconds to ensure the
# etcd endpoint is established.  The connection is refused, otherwise.
ExecStart=/usr/bin/docker run \
  -p 53:53 \
  --name skydns pandastrike/skydns /bin/bash -c \
  "sleep 5 &&\
  /skydns -machines=172.17.42.1:4001"

# Deploy one SkyDNS container on each machine in the cluster.
[X-Fleet]
Global=true
