#!/bin/bash
# Launch this instance into our custom ECS cluster.
echo ECS_CLUSTER={{{cluster.name}}} >> /etc/ecs/ecs.config

# Attach
{{#public_keys}}
echo {{.}} >> .ssh/authorized_keys
{{/public_keys}}
