[
  # These two expose the Docker host's HTTP API interface.  Pretty much any command
  # that you normally run can be aimed at this remote host and it will work the same.
  {
    name: "docker-tcp.socket"
    runtime: "true"
    command: "start"
    enable: "yes"
    content: "units/docker-tcp.service"
  },
  {
    name: "enable-docker-tcp.service"
    runtime: "true"
    command: "start"
    content: "units/docker-tcp.service"
  },

  # These two add ephemeral storage to each machine in the cluster and mount
  # the Docker host do that drive.  The amount of additional storage you get
  # depends on the EC2 instance you're using.  Look here for more...
  # http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/InstanceStorage.html
  {
    name: "format-ephemeral.service"
    runtime: "true"
    command: "start"
    content: "units/format-ephemeral.service"
  },
  {
    name: "var-lib-docker.mount"
    runtime: "true"
    command: "start"
    content: "units/var-lib-docker.mount"
  }
]
